:root {
  --font-colour: hsla(0, 0%, 0%, 0.8);
  --navbar-font-colour: hsl(0, 0%, 0%);
  --background-color: hsl(0, 0%, 96%);
  --link-color: hsl(211, 100%, 35%);
  --link-background-color: hsl(211, 100%, 95%);

  --marker-color: hsl(0, 0%, 72%);
  --nav-border-color: hsl(0, 0%, 0%);
}

body {
  margin-right: 50px;
  margin-left: 50px;
}

li {
  list-style: square;
}

li::marker {
  font-size: 0.75rem;
  color: var(--marker-color);
}

body {
  font-size: 1.2rem;
  color: var(--font-colour);
  background-color: var(--background-color);
}

h1, h2 {
  font-size: 2rem;
}

h3, h4, h5, h6 {
  font-size: 1.5rem;
}

nav li {
  list-style-type: none;
}

nav ul {
  padding: 1px;
  margin: 0px;
  overflow: hidden;
}

nav {
  margin-bottom: 2.2rem;
  padding: 15px 0px;
  font-size: 1.5rem;
  border-bottom: 4px solid var(--nav-border-color);
}

nav li {
  float: left;
}

a {
  color: var(--link-color);
}

main a {
  background-color: var(--link-background-color);
}

nav li a {
  display: block;
  color: var(--navbar-font-colour);
  text-align: left;
  padding: 4px 15px;
  text-decoration: none;
}

.header-tick {
  color: lightgrey;
}

.h-card dl {
  list-style-type: none;
}

.h-card dt {
  font-weight: bold;
}

h2 {
  margin-top: 1.35rem;
}

section {
  margin-left: 1.35rem;
}

html {
  min-height: 100vh;
}
