<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><div class="brand"><a href="/">Castle</a></div></li>
      </ul>
    </nav>
    <main>

    {{ content | safe }}
    </main>
  </body>
</html>
