<html lang="en" style="border: 12px solid #007bff">
<!DOCTYPE html>
  <head>
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="My personal website, containing anything I want to post online">

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="shortcut icon" type="image/png" href="/icons/favicon-32x32.png"/>

    <meta name="theme-color" content="#007bff">

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://rgrannell.xyz/micropub">
    <link href="https://github.com/rgrannell1" rel="me">

    <link rel="preload" href="/css/katex.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="/css/github.markdown.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="/css/prism-laserwave.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="/css/marx.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="alternate" type="application/rss+xml"
      title="RSS Feed for rgrannell.xyz"
      href="https://rgrannell.xyz/feed.xml" />

    <title>{{ title }}</title>
  </head>
  <nav>
    <ul>
      <li><a href="/">🌈</a></li>
      <li class="rss-tag" style="float: right">
        <a title="rss" href="https://rgrannell.xyz/feed.xml">
          <svg alt="rss" width="32px" height="32px">
            <path fill="#ff9132" d="M 4.259,23.467c-2.35,0-4.259,1.917-4.259,4.252c0,2.349, 1.909,4.244, 4.259,4.244 c 2.358,0, 4.265-1.895, 4.265-4.244C 8.525,25.383, 6.618,23.467, 4.259,23.467zM 0.005,10.873l0,6.133 c 3.993,0, 7.749,1.562, 10.577,4.391c 2.825,2.822, 4.384,6.595, 4.384,10.603l 6.16,0 C 21.125,20.349, 11.648,10.873, 0.005,10.873zM 0.012,0l0,6.136 c 14.243,0, 25.836,11.604, 25.836,25.864L 32,32 C 32,14.36, 17.648,0, 0.012,0z"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  <body>
    <main>
    {{ content | safe }}

    <section>
      <span class="h-card" style="display: none">
        <dl>
          <dt>name</dt>
          <dd>
            <a class="u-url u-uid" href="https://rgrannell.xyz/" rel="me">Róisín Grannell</a>
          </dd>

          <dt>format</dt>
          <dd>
            <a class="p-name p-org u-url" href="https://microformats.org/">microformats.org</a>
          </dd>

          <dt>photo</dt>
          <dd>
            <img class="u-photo" src="/me.jpg" />
          </dd>

          <dt>email</dt>
          <dd>
            <a class="u-email" href="mailto:r.grannell2@gmail.com">e</a>
          </dd>

          <dt>url</dt>
          <dd>
            <span class="u-url" rel="me">https://rgrannell.xyz/</span>
          </dd>

          <dt>note</dt>
          <dd>
            <p class="p-note">A very busy person</p>
          </dd>
        </dl>
      </span>
    </section>
    </main>
    <footer>

    </footer>
  </body>

  <noscript>
    <link rel="stylesheet" href="/css/katex.min.css">
    <link rel="stylesheet" href="/css/github.markdown.css">
    <link rel="stylesheet" href="/css/prism-laserwave.css">
  </noscript>

  <script>
    // -- register a service-worker
    if('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js')
      console.log('loaded /sw.js')
    } else {
      console.error('failed to load /sw.js')
    }
  </script>
</html>