<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="My personal website, containing anything I want to post online">

    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#007bff">

    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/marx.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <nav>
    <ul>
      <li><a href="http://rgrannell.xyz/">🌈</a></li>
      <li style="float: right"><a href="http://rgrannell.xyz/feed.xml">rss</a></li>
    </ul>
  </nav>
  <body>
    <main>
    {{ content | safe }}
    </main>
  </body>
  <footer>
  </footer>
</html>
<link rel="stylesheet" href="/css/prism-okaidia.min.css">
<script>
  if('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/sw.js')
    console.log('loaded /sw.js')
  } else {
    console.error('failed to load /sw.js')
  }
</script>