---
tags: posts
title: Closed-Source Software
date: 2026-09-12
layout: "base.njk"
templateEngineOverride: md, njk
permalink: "closed-source-software.html"
subheading: 
---

# Closed-Source Software

A small announcement. I'm no longer open-sourcing software. The reasoning is pretty simple:

- I benefited from open-source software and feel people should be philanthropic, so I released hundreds of projects.
- LLMs digested those repositories without my consent.
- LLMs do not have philanthropic purposes, to put things lightly.

So, I'm stopping for the same reason I started. May we soon return to an era where sharing information benefits humanity.

