---
tags: posts
layout: "base.njk"
templateEngineOverride: md, njk
permalink: "posts/not-me.html"
title: Not Me
date: 2026-09-21
subheading: 
---

# Not Me

Lately I have been hung up on a linguistic difficult; actually, a phrase: "I, but not me". As more of _my_ work is done[1] through LLMs, the language of agency and ownership is failing me. Historically, whether I'd done something was a fairly binary concept. I either had - or had not - acted. 

Things are more fractional now. I carefully designed each layer of architecture and have a solid conception of what's happening (Zahir) but wrote little of it myself. Or, I clearly specified what I wanted and wished in the direction of the LLM with a few rounds of "be better" and "be secure" (`to.rho.ie`). Or, I am in fairly blank incomprehension of basically all of the project [2].

How do I attribute my work? 

- I constrained the space of output probabilities such that the text-generator captured novel ideas in functional programming and system design.
- I sent a very good list of demands to an unknowable third-party that mimics a human (though, an odd amoral LinkedIn variant). 
- I cast wishes at a mechanical genie, and remain unsure which it granted.
- The randomly-generated text on my laptop is better than most.

I'm unsure. There's no simple terminology for "I, imprecisely, directed this thing to exist with X amount of clarity and Y amount of noise".

_I_ found the legal doctrine of "Qui facit per alium facit per se": "He who acts through another does the act himself". It's a beautiful idea: agency is transitive, we keep responsibility not just our actions, but how we have others act in our place. Glibly, I don't think this is common practice: if anything, [we've migrated maximally far from it](https://en.wikipedia.org/wiki/The_Unaccountability_Machine).

## Conversation

I find myself having fractional conversations. I (myself, me) ask questions and receive:

> You're absolutely right. Your plan is not just right EMDASH it's rigourous. Our changes will be safe to merge to production. 

They might agree with the course of action? Certainly possible. They could be aware of it. Or: Claude is trained on glazers and lickspittles, and fills the sentence with praise like an upstanding person would with "ums" and other disfluencies. It's hard to tell. They saw my message? It's not impossible: it was certain seen - for some extension of that word: a syntactic english response implies as much. Though, I can be sure the changes would blow things to bits: people aren't to be believed when proclaiming safety, yet alone their impersonators.

So, things devolve. A writer used to write to convey ideas: sometimes to enlighten, sometimes to deceive. Now, they type something hilariously half-assed into a machine that dresses up their clothsack sentence into something splendid. You cannot prove lack of intent; who knows what they typed into the LLM. Though, my guesses horrify me.

I do not have the terminology for people nodding off while supervising dynamite factories [3]. Or for those half comprehending conversations and quarter participating in them. It seems like necessary language, though, and something will turn up. [It'll probably come from 4chan](https://www.dailyuw.com/article/we-are-all-speaking-4chan-part-one-20260223) [4]

## In Summary

{% image "images/old-man.jpeg", "a Simpsons newspaper clipping 'OLD MAN YELLS AT CLOUD'" %}

## Footnotes

[1] These are not successful

[2] _done_ being equally tricky, having become a floating signifier that's drifted from the old norms of "existing", "functioning", and "comprehended by the doer".

[3] the wording would be _very_ clear if it wasn't typically under orders.

[4] Yes I do see the em-dashes. I worry this too may be Pod-Person literature.
