---
tags: posts
layout: "base.njk"
templateEngineOverride: md, njk
permalink: "posts/why-on-earth-should-I-functional-program.html"
title: Why on Earth Should I Functional Program?
subheading: ""
---
