---
title: rgrannell.xyz
layout: "base.njk"
templateEngineOverride: md, njk
permalink: "an-announcement.html"
---

# An Announcement

I'm [transgender](https://transequality.org/issues/resources/understanding-transgender-people-the-basics#:~:text=Transgender%20is%20a%20broad%20term%20that%20can%20be%20used%20to%20describe%20people%20whose%20gender%20identity%20is%20different%20from%20the%20gender%20they%20were%20thought%20to%20be%20when%20they%20were%20born.%20%E2%80%9CTrans%E2%80%9D%20is%20often%20used%20as%20shorthand%20for%20transgender.). When I started this job I figured I'd continue [HRT medical treatment](https://www.hopkinsmedicine.org/health/treatment-tests-and-therapies/gender-affirming-hormone-therapy-gaht) and rely on people being polite enough not to bring up the topic. It was a half measure, but I've got by for the past few years in peace.

I've worked here for five years now, and it's finally time for me to replace my badge. I'll switch to using the name I actually go by with my friends and family — Róisín (she/her pronouns).

## Why not say something sooner?

I've had bad experiences; coming out to those close to me damaged a few relationships.

I had enough stress to deal with starting a new high-pressure job, and I (wrongly) figured it would make little difference to me which name I went by. I'm from a small rural town where homophobia and bigotry were defaults, so I tend to be a bit pessimistic about people's social attitudes. I was worried that a fraction of my coworkers would react badly, or I'd end up in some sort of exhausting battle for respectful treatment at work. I'm not a person who enjoys conflict.

There's never a good time to come out, though now is better than later. I trust that the people I work with are decent & will stay easy to work with.

## What changes?

Not much, ideally. I've had a range of responses from those close to me, my favourite of which by far was from a friend who uses my new name & pronouns and was otherwise fairly disinterested.

I really don't mind if people occasionally slip up names/pronouns, especially in the near future. I have known people who "slipped up" in [bad faith](https://en.wikipedia.org/wiki/Bad_faith), so please don't do that, I find _that_ personally insulting.

Beyond my name & pronouns, I don't really expect anything to change. I find this topic extraordinarily disconcerting to talk about, so generally I'd rather not. I'd prefer to talk about my gender about as often as everone else talks about theirs; rarely to never. In particular, I don't want to respond to the wedge-issue "debates" repeated ad nauseum online, hear both-sidesisms, or justify trans people's basic rights.

I have nothing else to say, for a change. Thanks for reading!
