---
title: rgrannell.xyz
layout: "base.njk"
templateEngineOverride: md, njk
permalink: "index.html"
---

# rgrannell.xyz

Hi, I'm [Róisín](https://www.nameshouts.com/names/all-languages/pronounce-roisin) (she/her)

Professionally I'm a Site-Reliability Engineer for a distressingly large website. In my free time I write a lot of code, take [photos](https://photos.rgrannell.xyz/), read as much as I can manage, and play piano badly.

### Projects

- [Photos](https://photos.rgrannell.xyz/): A compilation of my photography from 2012 onwards. I mainly photograph wildlife & the interesting & beautiful places I've visited.
- [Blog-Posts](./posts.html): I write infrequently, mostly about programming and mathematics
- [Programming](./programming.html): a collection of my many CLIs, libraries, websites, and [weirder projects](https://github.com/rgrannell1/NATO-Memetic-Alphabet).
