---
title: rgrannell.xyz
layout: "base.njk"
templateEngineOverride: md, njk
permalink: "index.html"
---

# rgrannell.xyz

Hi, I'm [Róisín](https://www.nameshouts.com/names/all-languages/pronounce-roisin). Professionally I'm a site-reliability engineer (full developer + full operations) for a distressingly large site, in my free time I write a lot of code, enjoy nature photography, and play piano badly.

As for calls-to-action, consider supporting an effective charity (I like [EA Fund](https://app.effectivealtruism.org/funds)) and holding political positions fairer under a [veil of ignorance](https://en.wikipedia.org/wiki/Original_position).

## <span class="header-tick">—</span> Posts <span class="header-tick">—</span>

<ul>
{%- for post in collections.posts -%}
  <li><a href="{{ post.data.permalink }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>

## <span class="header-tick">—</span> Misc <span class="header-tick">—</span>

- [Recommendations](./recommendations.html)

## <span class="header-tick">—</span> Social Media <span class="header-tick">—</span>

- [Music Ratings](https://rateyourmusic.com/~rgrannell1) ([rss](https://rateyourmusic.com/~rgrannell1/data/rss))
- [Books](https://www.goodreads.com/user/show/5833028-r-is-n-grannell) ([rss](https://www.goodreads.com/user/updates_rss/5833028?key=uh6RSzB2TSGaxKAC2ou7V_KisOP8_3cz4MGSFzBVEWSEWjeB))

## <span class="header-tick">—</span> Photography <span class="header-tick">—</span>

The animals I / my friends have named

- [Noodle](./noodle.html): my pet leopard gecko
- [Percival](./percival.html): a pheasant that visits my parent's garden
- [Bob](./bob.html): the local heron

And other pictures:

- [Avoca](./avoca.html): a small town in Co. Wicklow

## <span class="header-tick">—</span> Programming <span class="header-tick">—</span>

### Sites
- [Notes](https://notes.rgrannell.xyz/): notion-style notes (**private**)
- [Castle](https://castle.rgrannell.xyz/): aggregate property alerts, and find the best properties on the market (**private**)
- [Clockwork](https://clockwork.rgrannell.xyz/): monitor laptop & phone usage (**private**)
- [Divider](https://divider.rgrannell.xyz/): a page with a blank favicon I use as a hacky gnome sidebar divider
- [Localpost](https://localpost.rgrannell.xyz/): write text to a URL so as to bookmark it

### CLIs

- [Liteq](https://github.com/rgrannell1/liteq): execute SQLite queries and capture the results as JSON
- [Hq](https://github.com/rgrannell1/hq): extract website content and capture the results as JSON
- [Mole](https://github.com/rgrannell1/mole): extract Chrome's history files as JSON
- [Gecko](https://github.com/rgrannell1/gecko): echo, with colours
- [Hotline](https://github.com/rgrannell1/hotline): CLI URL bookmarks
- [Kohl](https://github.com/rgrannell1/kohl): a pager to highlight and search logs
- [Kale](https://github.com/rgrannell1/kale): `tail` with pattern highlighting
- [Rpgen](https://github.com/rgrannell1/rpgen): generate memorable secure passwords
- [Polonium](https://github.com/rgrannell1/polonium): stateless password manager
- [Pin](https://github.com/rgrannell1/pin): sync bookmarks from Pinboard to Chrome
- [Procolli](https://github.com/rgrannell1/procolli): exposes some files in /proc as tidied machine-readable JSON


### Machine Learning

- [Geo-DBSCAN](https://github.com/rgrannell1/geo-dbscan): very fast geospatial clustering

### Frameworks

- [Revexp](https://github.com/rgrannell1/revexp): reverse regular-expressions
- [Inkling](https://github.com/rgrannell1/inkling): test ink CLIs

### DevOps Tools

- [Dotfiles](https://github.com/rgrannell1/dotfiles): dotfile configuration
- [Cloud-init-compile](https://github.com/rgrannell1/cloud-init-compile): bundles scripts and data files into a cloud-init scripts
- [Snapped](https://github.com/rgrannell1/snapped): automate several minor-but-time-consuming ElasticSerch tasks
- [Peruse](https://github.com/rgrannell1/peruse): scroll through webpages automatically
- [Carp](https://github.com/rgrannell1/carp): check dependencies on a host
- [Mystery Box](https://github.com/rgrannell1/mystery-box): construct a developer environment in one command

### Art

- [Poly2020](https://github.com/rgrannell1/poly2020): plot solutions to billions of polynomials, to create beautiful fractals.
- [Lissajous Poster](https://github.com/rgrannell1/lissajous-poster): draw lissajous curve images
- [Be Gay Do Crime](https://github.com/rgrannell1/be-gay-do-crime): 🏳️‍🌈
- [Irish Internet](https://github.com/rgrannell1/irish-internet): Ireland's geotagged twitter usage in 2014
- [Pi](https://github.com/rgrannell1/pi): Find rational approximations of π

### Other

- [Clockwork](https://github.com/rgrannell1/clockwork): monitor laptop & phone usage
