---
title: rgrannell.xyz
layout: "base.njk"
templateEngineOverride: md, njk
permalink: "index.html"
---

# rgrannell.xyz

Hi, I'm [Róisín](https://www.nameshouts.com/names/all-languages/pronounce-roisin) (she/her). Professionally I'm a Site-Reliability Engineer for a distressingly large website. In my free time I write a lot of code, take [photos](https://photos.rgrannell.xyz/), read as much as I can manage, and play piano badly.

This standard-issue [IndieWeb](https://indieweb.org/) website is built using [Eleventy](https://www.11ty.dev/) and is hosted on CloudFlare. There's an [RSS-feed](http://rgrannell.xyz/feed.xml) for my posts, but I don't write here that often.

You can contact me in the following ways:

- 📧 Email me at <a href="mailto:r.grannell2@gmail.com">r.grannell2@gmail.com</a>
- 🐞 Raise an issue at <https://github.com/rgrannell1/>

---

### Side Projects

- [Photos](https://photos.rgrannell.xyz/): photos of wildlife and interesting places
- [Posts](./posts.html): infrequent, mostly about programming and mathematics
- [Programming](./programming.html): a collection of my many CLIs, libraries, websites, and [weirder projects](https://github.com/rgrannell1/NATO-Memetic-Alphabet).
