---
title: rgrannell.xyz
layout: "base.njk"
templateEngineOverride: md, njk
permalink: "programming.html"
---

# Programming

I write a lot of code. This isn't a complete list, but it does include the projects that might be useful to someone else, or just interesting.

### Sites

- [Photos](https://photos.rgrannell.xyz/): my photos
- [Passwords](http://passwords.rgrannell.xyz/): derive passwords from a master-password
- [Localpost](https://localpost.rgrannell.xyz/): write text to a URL so as to bookmark it
- [Borg](https://borg.rgrannell.xyz/): assimilate bookmarks to common-storage
- [Common Storage UI](https://ui.common-storage.rgrannell.xyz/): swagger interface to my data stores
- [Is This Switched On?](https://is-this-switched-on.rgrannell.xyz/): check if a device is switched on

### CLIs

- [Gecko](https://github.com/rgrannell1/gecko): echo, with colours
- [Scatter](https://github.com/rgrannell1/scatter): read YAML frontmatter from files as JSON
- [Badger](https://github.com/rgrannell1/badger): cluster photos by date, and sort by blurriness
- [Replit](https://github.com/rgrannell1/replit): launch a run-on-save repl for any language, in your favourite editor
- [Just-The-Exif](https://github.com/rgrannell1/just-the-exif): a reasonably fast EXIF reader
- [Rpgen](https://github.com/rgrannell1/rpgen): generate memorable secure passwords
- [Rl](https://github.com/rgrannell1/rl): interactive line-editor
- [Polonium](https://github.com/rgrannell1/polonium): stateless password manager
- [Mole](https://github.com/rgrannell1/mole): extract Chrome's history files as JSON
- [Kale](https://github.com/rgrannell1/kale): `tail` with pattern highlighting
- [Hotline](https://github.com/rgrannell1/hotline): CLI URL bookmarks
- [Pin](https://github.com/rgrannell1/pin): sync bookmarks from Pinboard to Chrome

### Machine Learning

- [Geo-DBSCAN](https://github.com/rgrannell1/geo-dbscan): very fast geospatial clustering

### Frameworks

- [SubEdit](https://github.com/rgrannell1/subedit): compasable optic-based text-editing
- [Peach](https://github.com/rgrannell1/peach.ts): combinator-based fuzz-testing
- [Revexp](https://github.com/rgrannell1/revexp): reverse regular-expressions
- [Inkling](https://github.com/rgrannell1/inkling): test ink CLIs

### DevOps Tools

- [Procolli](https://github.com/rgrannell1/procolli): view `/proc` as JSON
- [Rs](https://github.com/rgrannell1/rs): a minimal, no-dependency build-system cloned from [bs](https://github.com/labaneilers/bs).
- [Dotfiles](https://github.com/rgrannell1/dotfiles): dotfile configuration
- [Snapped](https://github.com/rgrannell1/snapped): automate several minor-but-time-consuming ElasticSearch tasks
- [Cloud-init-compile](https://github.com/rgrannell1/cloud-init-compile): bundles scripts and data files into a cloud-init scripts
- [Peruse](https://github.com/rgrannell1/peruse): scroll through webpages automatically

### Art

- [Crab](https://github.com/rgrannell1/crab): carninisation but for programming languages
- [Poly2020](https://github.com/rgrannell1/poly2020): plot solutions to billions of polynomials, to create beautiful fractals.
- [Lissajous Poster](https://github.com/rgrannell1/lissajous-poster): draw lissajous curve images
- [Be Gay Do Crime](https://github.com/rgrannell1/be-gay-do-crime): 🏳️‍🌈
- [Irish Internet](https://github.com/rgrannell1/irish-internet): Ireland's geotagged twitter usage in 2014
- [NATO Memetic Alphabet](https://github.com/rgrannell1/NATO-Memetic-Alphabet): a maximally unusable radiotelephony alphabet

### Other

- [Common Storage](https://github.com/rgrannell1/common-storage): Easy data synchronisation & storage
- [Trie](https://github.com/rgrannell1/trie): a python trie implementation

</section>
