---
title: rgrannell.xyz
layout: "base.njk"
templateEngineOverride: md, njk
permalink: "recommendations.html"
---

# Recommendations

An increasingly comprehensive list of the things I like. Hopefully you find something useful here.

## Apps

- [Goodreads: book reviews & search](https://www.goodreads.com/)
- [Moovit: public transit app](https://moovitapp.com/)
- [Notion: note-taking](https://www.notion.so/). Tentative due to performance
- [Pinkt: pinboard access](https://play.google.com/store/apps/details?id=com.fibelatti.pinboard&hl=en_IE&gl=US)
- [Pixels: mood-tracking](https://teovogel.me/pixels/)
- [Plane Finder: self-descriptive](https://planefinder.net/)
- [PocketCasts: podcast manager](https://www.pocketcasts.com/)
- [Todoist: task manament.](https://todoist.com/app/)

## Cloud Hosting

- DigitalOcean
- Logz
- Netlify

## CLI Tools (Excluding my own)

- [Asciicinema](https://asciinema.org/)
- [Catimg](https://github.com/posva/catimg)
- [Entr](https://github.com/clibs/entr)
- [Gron](https://github.com/tomnomnom/gron)
- [HTTPie](https://httpie.io/)
- [JQ](https://stedolan.github.io/jq/)
- [Yadm](https://yadm.io/)

## Desktop Apps

- [DB Browser for SQLite](https://sqlitebrowser.org/)
- [Audacity](https://www.audacityteam.org/)
- [Insync](https://www.insynchq.com/)
- [VSCode](https://code.visualstudio.com/)

## OS

Ubuntu with GNOME

- [Caffeine](https://extensions.gnome.org/extension/517/caffeine/)
- [Clipboard Indicator](https://extensions.gnome.org/extension/779/clipboard-indicator/)

## Sites

- [The Old Reader](https://theoldreader.com/): RSS Feed
- [FetchRss](http://fetchrss.com/): Generate RSS Feeds from sites

## VSCode Extensions

- Dayle Rees themes
- Github Plus theme
- Go (Google)
- Jupyter
- Nunjucks
- Remote - SSH
- StandardJS
- Sublime Text Keymap & Settings
