---
title: rgrannell.xyz
layout: "base.njk"
templateEngineOverride: md, njk
permalink: "recommendations.html"
---

# Recommendations

An increasingly comprehensive list of the things I like. Hopefully you find something useful here.

## Apps

- [Goodreads: book reviews & search](https://www.goodreads.com/)
- [Moovit: public transit app](https://moovitapp.com/)
- ~~[Notion: note-taking](https://www.notion.so/)~~
- [Pinkt: pinboard access](https://play.google.com/store/apps/details?id=com.fibelatti.pinboard&hl=en_IE&gl=US)
- [Pixels: mood-tracking](https://teovogel.me/pixels/)
- [Plane Finder: self-descriptive](https://planefinder.net/)
- [PocketCasts: podcast manager](https://www.pocketcasts.com/)
- [Todoist: task manament.](https://todoist.com/app/)
- [Ulauncher: shortcut based app-launcher](https://ulauncher.io/)

## Cloud Hosting

- [DigitalOcean: VM Hosting](https://www.digitalocean.com/)
- [Logz: ELK Hosting](https://logz.io/)
- [Netlify: Serverless Hosting](https://www.netlify.com/)
- [Cloudinary: CDN](https://cloudinary.com/)

## CLI Tools (Excluding my own)

- [Asciicinema: Record a terminal](https://asciinema.org/)
- [Catimg: Print an image to a terminal](https://github.com/posva/catimg)
- [Entr: Rerun a command on file-change](https://github.com/clibs/entr)
- [Gron: Flatten JSON to a property-list](https://github.com/tomnomnom/gron)
- [HTTPie: CLI HTTP Client](https://httpie.io/)
- [JQ: Manipulate JSON](https://stedolan.github.io/jq/)
- [Neofetch](https://github.com/dylanaraps/neofetch)
- [Yadm: Dotfile manager](https://yadm.io/)

## Databases

- [Sqlite: Embedded SQL Database](https://www.sqlite.org/index.html)
- [Neo4j: Graph Database](https://neo4j.com/)

## Desktop Apps

- [DB Browser for SQLite](https://sqlitebrowser.org/)
- [Audacity](https://www.audacityteam.org/)
- [Insync](https://www.insynchq.com/)
- [VSCode](https://code.visualstudio.com/)

## OS

Ubuntu with GNOME

- [Caffeine](https://extensions.gnome.org/extension/517/caffeine/)
- [Clipboard Indicator](https://extensions.gnome.org/extension/779/clipboard-indicator/)

## Sites

- [The Old Reader](https://theoldreader.com/): RSS Feed
- [FetchRss](http://fetchrss.com/): Generate RSS Feeds from sites

## VSCode Extensions

- Dayle Rees themes
- Github Plus theme
- Go (Google)
- Jupyter
- Nunjucks
- Remote - SSH
- Rainbow CSV
- StandardJS
- Sublime Text Keymap & Settings

## Python

### Modules

- [Docopt](https://github.com/docopt/docopt): Literate CLI generator
- [Plotnine](https://pypi.org/project/plotnine): Ggplot in Python
- [Pandas](https://pandas.pydata.org/): Dataframe manipulation. I'm not a fan but this essential...
- [Jupyter](https://jupyter.org/): Interactive data analysis
