---
title: rgrannell.xyz
layout: "base.njk"
templateEngineOverride: md, njk
permalink: "specs.html"
---

# Specifications

The page will link the data-specifications used by the [applications I've written](/posts.html).

### Beacon

- [`add_geolocation`](./specs/add_geolocation.json)

### Borg

- [`add_bookmark`](./specs/add_bookmark.json)
- [`edit_bookmark`](./specs/edit_bookmark.json)
- [`delete_bookmark`](./specs/delete_bookmark.json)

### Other

- [`nato_memetic_alphabet`](./specs/nato_memetic_alphabet.txt)
